.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title {
    background-color: #0077ff;
    display: block;
    padding: 1em;
}
h1 {
    font-weight: bold;
    color: #fff;
    margin: 0;

}
.container-tecno {
    padding: 2%;

    input {
        height: 2em;
        width: 20em;

        border-radius: 6px;
        margin-right: 12px;
    }

    button {
        border-radius: 10%;
        height: 1.5em;
        width: 5em;
        color: white;
        background-color: #0077ff;
        font-size: x-large;
    }
}